{% extends "base.html" %}

{% block head %}
<style>
.error {
    color: #f6416c;
}
.warn {
    color: #ffde7d;
}
.info {
    color: #00b8a9;
}
.log {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
</style>
{% endblock head %}

{% block body %}
{% for log in logs %}
    {% if log.level == "error" %}
        <p class="log">
            [{{ log.time | date(format="%Y-%m-%d %H:%M:%S", timezone="Asia/Shanghai") }} <span class="error">{{log.level | upper }}</span>]: {{log.content}}
        </p>
    {% endif %}
    {% if log.level == "warn" %}
        <p class="log">
            [{{ log.time | date(format="%Y-%m-%d %H:%M:%S", timezone="Asia/Shanghai") }} <span class="warn">{{log.level | upper }}</span>]: {{log.content}}
        </p>
    {% endif %}
    {% if log.level == "info" %}
        <p class="log">
            [{{ log.time | date(format="%Y-%m-%d %H:%M:%S", timezone="Asia/Shanghai") }} <span class="info">{{log.level | upper }}</span>]: {{log.content}}
        </p>
    {% endif %}
{% endfor %}
{% endblock body %}
