{% extends "base.html" %} {% block head %}
<style>
    .container {
        border: 2px dashed #95e1d3;
        padding: 1rem;
        border-radius: 10px;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: #95e1d3;
        font-size: x-large;
    }
    .content {
        margin-top: 1rem;
    }
</style>
{% endblock head %} {% block body %}
<div>
    <p class="title">每日一句</p>
</div>
<div class="container content">
    <p>{{en}}</p>
    <p>{{zh}}</p>
</div>

<div>
    <p class="title">javcap</p>
</div>
<div class="container content">
    <p>🌟 {{star}}</p>
    <p>📦 {{download}}</p>
</div>

<div>
    <p class="title">热门IT资讯</p>
</div>
<div class="container content">
    {% for new in news %}
    <p>{{new.index}}. {{new.title}}</p>
    {% endfor %}
</div>
{% endblock body %}
